.container {
    border: 1px solid;
    height: 500px;
}

.header {
    margin: 0px;   
    padding: 0px; 
}

.form-container {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}